.wrapper
{
    width: 312px;
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 8px;
    background: #F3F5F7;
}
.avatar_container
{
    width: 131px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
}
.avatar
{
    width: 80px;
    height: 80px;

}
.camera_icon
{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 80px;
}
.user_name
{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.mobile_nav
{
    margin: 0 16px;
}
.mobile_nav_selector
{
    width: 280px;
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
    border: 2px solid #6C7275;
    background: #FFF;
    color: #141718;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}
.desktop_nav
{
    display: none;
}

@media screen and (min-width: 1440px)
{
    .wrapper
    {
        flex: 0 1 20%;
    }
    .mobile_nav
    {
        display: none;
    }
    .desktop_nav
    {
        display: flex;
        width: 230px;
        padding: 8px 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 15px;
    }
    .desktop_nav_item
    {
        width: 100%;
        color: #6C7275;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        padding: 10px 0;
    }
    .desktop_nav_item:hover
    {
        cursor: pointer;
        color: #141718;
           }
    .div
    {
        width: 100%;
    }
    .div:hover
    {
       border-bottom: 2px solid #141718;

    }

}

