.wrapper
{
    box-sizing: border-box;
    display: flex;
    padding: 40px 16px 80px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 375px;
}

@media screen and (min-width: 1440px)
{
    .wrapper
    {
        width: 851px;
        flex: 0 1 65%;
        align-items: flex-start;
        padding: 0 ;
    }
}