.base{
    display: flex;
    align-items: center;
    gap: 4px;
}
.text{
    color: #605F5F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.img{
    width: 12px;
    height: 12px;
}