.main {
    margin: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border: 1px solid #6C7275;
    border-radius: 6px;
    width: 315px;
    height: 400px;
}

.form_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
    border: 1px solid #6C727580;
    width: 315px;
}

.cart_summary {
    display: flex;
    flex-direction: column;

    border: 1px solid #6C7275;
    border-radius: 4px;
}

.summary_form {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 10px;
    width: 315px;
    height: 395px;
}

.shipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6C7275;
    border-radius: 3px;
    padding: 0 7px;
    margin: 10px 0;
    font-size: 14px;
}

.radio {
    accent-color: black;
    font-size: 8px;
    margin: 0;
}

.shipping {
    margin: 4px 0 5px 0;
}

.free_data {
    margin: 8px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 295px;
    font-weight: 700;
    padding: 0 7px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    width: 295px;
    padding: 0 7px;
}

.title {
    margin: 14px 0;
}

.btn {
    display: flex;
    margin: 0 auto;
    width: 100%;

}

.btn_checkout {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #282c34;
    color: lightgray;
    margin: 20px 0 10px 0;
}

@media (min-width: 769px) {
    .main {
        width: 250px;
        margin: 0 0 0 30px;
    }

    .summary_form {
        width: 240px;
    }

    .total {
        width: 220px;
    }

    .subtotal {
        width: 220px;
    }

    .summary_form_title {
        margin: 5px 0;
        font-size: 20px;
    }

    .radio {
        font-size: 16px;
    }

    .btn_checkout {
        width: 100%;
        height: 42px;
    }
}

@media (min-width: 1150px) {
    .main {
        width: 375px;
        margin: 0 0 0 30px;
    }

    .summary_form {
        height: 100%;
        width: 365px;
    }

    .total {
        width: 345px;
    }

    .subtotal {
        width: 345px;
    }
}
