.discount_wrapper
{
    width: 100%;
}
.discount_wrapper_inner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F5F7;
}
.image_placeholder_discount
{
    width: 100%;
}
.discount_section_padding
{
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.sale_banner{
    align-self: stretch;
    color: #377DFF;
    font-family: Inter sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}
.discount_section
{
    padding: 0 160px 0 72px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.sale_discount
{
    align-self: stretch;
    color: #377DFF;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
}
.titleDiscount
{
    align-self: stretch;
    color: #141718;
    font-family: Poppins, sans-serif;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.6px;
}
.textDiscount {
    width: 452px;
    color: #141718;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}
.shop_now_btn {
    color: #141718;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.shop_now_link
{
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid #141718;
    width: fit-content;
}
@media (min-width: 769px)
{
    .discount_wrapper_inner
    {
        flex-direction: row;
    }
    .image_placeholder_discount
    {
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .discount_section
    {
        display: flex;
        width: 100%;
        background: #F3F5F7;
    }

    .titleDiscount {
        align-self: stretch;
        color: #141718;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.75rem;
        letter-spacing: -0.4px;
    }
    .textDiscount {
        width: 311px;
        color: #141718;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
    }
    .shop_now_button {
        color: #141718;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
    }
}