.base{
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.title{
    color: #141718;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.4px;
}
.text{
    width: 508px;
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}