.shop_page_wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1440px;
    height: 2850px;
    top: 18312px;
    left: 1521px;
    background-color: rgba(255, 255, 255, 1);
}
/*Products*/
.productsWrapper{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 1440px;
    height: 1749px;
    padding: 0;
    /*gap: 24px*/
}
.grids{
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 1589px;
    /*gap: 40px*/
}

.text1{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    background: rgba(108, 114, 117, 1);
}
.tyles_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1120px;
    height: 1467px;
    /*gap: 80px*/
}
.tyles_list{
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 1347px;
    gap: 24px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 433px;
    gap: 24px;
}
.list_button{
    margin-top: 50px;
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 40px;
    gap: 8px;
    width: 163px;
    height: 40px;
    border: 1px solid #141718;
    border-radius: 80px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.button_text{
    width: 83px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    text-align: center;
    letter-spacing: -0.4px;
    color: #141718;
    flex: none;
    order: 0;
    flex-grow: 0;
}