
.profile_page_wrapper{
    border: 1px red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
}

@media screen and (min-width: 1440px) {
    .profile_page_wrapper
    {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 1440px;
        padding: 0 160px 80px 160px;

    }

}