
.slider_wrapper{
    display: flex;
    width: 1440px;
    padding: 0 160px 40px 160px;
    flex-direction: column;
    gap: 32px;
}
.slider{
    width: 1120px;
    height: 536px;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.sofa{
    width: 100%;
}
.sofa_small{
    display: none;
}

.arrow{
    display: flex;
    width: 52px;
    height: 52px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
    position: absolute;
}

.arrow.left{
    top: 50%;
    left: 60px;
}

.arrow.right{
    top: 50%;
    right: 60px;
}

.slider_header{
    display: flex;
    align-items: center;
    gap: 54px;
}

.slider_text{
    width: 643px;
    color: #141718;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -2px;
    font-size: 72px;
    line-height: 76px;
}


.slider_text span{
    color: #6C7275;

}
.slider_disclaimer{
    width: 453px;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
}
.bold{
    font-weight: bold;
}

@media (max-width: 400px) {
    .slider_wrapper {
        display: flex;
        width: 375px;
        padding: 0 32px 40px 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .slider {
        width: 311px;
        height: 304px;
    }

    .sofa {
        display: none;
    }

    .sofa_small {
        display: flex;
        width: 311px;
        height: 304px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .arrow {
        display: none;
    }

    .slider_header {
        display: flex;
        width: 311px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }

    .slider_text {
        width: 311px;
        color: #141718;
        font-feature-settings: 'clig' off, 'liga' off;

        /* Headline 4 */
        font-family: Poppins, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px; /* 110% */
        letter-spacing: -0.4px;
    }

    .slider_disclaimer {
        width: 313px;
        color: #6C7275;
        font-feature-settings: 'clig' off, 'liga' off;

        /* Caption 1 */
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    .bold {
font-weight: 600;
    }
}
