.main {
    margin: 20px 30px 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 315px;

}

.back {
    margin-top: 10px;
    font-size: 11px;
    color: dimgray;
}

.page_header {
    font-size: 5vh;
    margin: 0 auto;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.step_grey {
    display: none;
    flex-direction: row;
    margin: 5px 30px;
    align-items: center;
    justify-content: center;
    color: grey;
    border-bottom: 2px solid grey;
    width: 18%;
    padding: 10px 0;
}

.step_active {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 80%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;

}

.img_circle {
    height: 20px;
    padding-right: 10px;
    margin: 0 auto;
}

.step_name {
    font-size: 0.7em;
    flex-grow: 1;
    margin: 0;

}

@media (min-width: 769px) {
    .main {
        align-items: center;
    }

    .back {
        display: none;
    }

    .steps {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        width: 772px;

    }

    .step_grey {
        display: flex;
        width: 15%;
    }

    .step_active {
        width: 15%;
        padding: 10px 0;
        margin: 5px 30px;
    }
}

@media (min-width: 1150px) {
    .steps {
        width: 1000px;
    }
}