.base{
    display: flex;
    align-items: flex-start;
    gap: 98px;
}
.sku{
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.text{
    color: #141718;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}