.item{
    width: 548px;
    height: 729px;
    padding: 1px;
    flex-shrink: 0;
    position: relative;
}
.img{
    width: 100%;
    height: 729px;
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
}